/* 
  NOTE: REQUIRED
  This file is imported in vuetify.js, single source of truth for your vuetify variables 
  Here you can basically export any scss variable (globally available) to javascript
*/

/* ---------- EXPORTED VARIABLES ---------- */
:export {
  primary: $primary;
  secondary: $secondary;
  accent: $accent;
  error: $error;
  info: $info;
  success: $success;
  warning: $warning;
  bodyBg: $body-bg;
}
/* -------------- END EXPORTED -------------- */
